.collapsible {
  background-color: rgb(102, 102, 102);
  /* color: #444; */
  color:white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  /* color: white; */
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  /* transition: max-height 0.2s ease-out; */
  transition: display 0.2s ease-out;
}

.attributes {
  text-align: center;
  margin: auto;
  font-size: 0.5rem;;
}

.game-history {
  overflow: auto;
  height: 20rem;
  text-align: left;
}

.history-ul {
  height: 20rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.history-row-section {
  display: block;
}

.history-row {
  list-style: none;
  /* margin-bottom: 1rem; */
  padding: 1rem;
}

.history-row:nth-of-type(2n) {
  /* background-color: rgb(231, 220, 198); */
  background-color: white;
}

.history-img {
  width: 1.2rem;
  height: 1.2rem;
}

.up {
  color: darkblue;
}

.seven {
  color: darkgray;
}

.down {
  color: darkred;
}

.win {
  color: green;
}

.lose {
  color: red;
}

.dice-roll {
  margin: 1rem;
  height: 10rem;
  width: 10rem;
}

.betBtn {
  background-color: lightblue;
}

.betBtn-pressed {
  box-shadow: 0.5rem 0.5rem 0.5rem grey;
  opacity: 0.85;
  background-color: darkblue;
  color: white;
}

.btn {
  border-radius: 10%;
  height: 2rem;
  width: 6rem;
  margin: 1rem;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.result-text {
  font-family: "Bowlby One SC", cursive;
}

#result-txt {
  font-size: 2.5rem;
  font-weight: 700;
}

.buttonPanel {
  margin-top: 1rem;
}

.subtitle {
  font-size: 2.5rem;
  margin: 0;
  margin-top: 2rem;
}

.title {
  font-family: "Bowlby One SC", cursive;
  font-size: 4rem;
  margin: 0;
  margin-top: 2rem;
}

section {
  /* margin-top: 3rem; */
  margin-bottom: 3rem;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: rgb(231, 220, 198);
}

/* main {
  padding-top: 1rem;
  padding-bottom: 3rem;
} */
